name: Deploy public folder to GitHub Pages

on:
  push:
    branches: ["main"] # mainブランチにpushしたらデプロイ
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload public directory
        uses: actions/upload-pages-artifact@v2
        with:
          path: ./public # ← ここをGitHub Pagesにアップする

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
